.env
__pycache__/
.DS_Store
gemma3_cloned/
magibu_cloned/
tabi_cloned/
random_mft_cloned/
random_tabi_cloned/
random_init_cloned/
encoded_dataset/
STS_BENCHMARK_RESULTS.md
STS_BENCHMARK_RESULTS.pdf

# latex related files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.synctex.gz(busy)
*.fdb_latexmk
*.fls
